In [ ]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#boş liste oluşturma işlemi

a = list()
b = []

print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [ ]:
#append(eleman): ilgili elemanı listenin sonuna ekler.

my_list.append(7)
my_list.append("selam")
my_list.append(False)

print(my_list)

[1, 2, 3, 4, 5, 7, 'selam', False]

In [ ]:
#extend(eleman listesi): birden fazla eleman eklemek için kullanılır.

my_list.extend(["buse","doğan","burak","şişci"])

print(my_list)

[1, 2, 3, 4, 5, 7, 'selam', False, 'buse', 'doğan', 'burak', 'şişci']

In [ ]:
#insert(index,eleman): listede ilgili indexe eleman ekleme işlemi yapar. eski veriyi ise 1 birim sağa kaydırır.

my_list.insert(5,6)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 'selam', False, 'buse', 'doğan', 'burak', 'şişci']

In [ ]:
#remove(eleman): ilgili elemanı listeden siler.

my_list.remove(False)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 'selam', 'buse', 'doğan', 'burak', 'şişci']

In [ ]:
my_list.remove("selam")

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 'buse', 'doğan', 'burak', 'şişci']

In [ ]:
#pop(index): index numarasına göre ilgili veriyi listeden siler.

my_list.pop(8)

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 'buse', 'burak']

In [ ]:
#parametre girmezsek listedeki son elemanı siler.

my_list.pop()

print(my_list)

[1, 2, 3, 4, 5, 6, 7, 'buse']

In [ ]:
#del komutu ile de istediğimiz elemanı silebiliriz.

del my_list[0]

print(my_list)

[2, 3, 4, 5, 6, 7, 'buse']

In [ ]:
#index(buse): elemanın index numarsını bulmak için kullanılır.

print(f"Buse nin index numarası: {my_list.index('buse')}")

Buse nin index numarası: 6

In [ ]:
# count(eleman) : Liste içerisindeki elemanın kaç kez geçtiğini gösterir.

print(f"Buse kelimesi listede kaç yerde geçmiştir : {my_list.count('Buse')}")

Buse kelimesi listede kaç yerde geçmiştir : 0

In [ ]:
# sort() Listeyi küçükten büyüğe sıralar.

my_list.sort()

print(my_list)

TypeError: '<' not supported between instances of 'str' and 'int'

In [ ]:
#listenin tümünün str veya int değere sahip olması gerekiyor.

In [ ]:
new_list = [34, 25, 10, 47, 85, 96, 71, 25, 36]

new_list.sort()

print(new_list)

[10, 25, 25, 34, 36, 47, 71, 85, 96]

In [ ]:
#reverse(): listeyi tersine çevirir.

my_list.reverse()

print(my_list)
print(new_list)

[2, 3, 4, 5, 6, 7, 'buse']
[10, 25, 25, 34, 36, 47, 71, 85, 96]

In [ ]:
a = [34, 25, 10, 47, 85, 96, 71, 25, 36, 41, 78, 88]

sorted_list = sorted(a)

print(sorted_list)

[10, 25, 25, 34, 36, 41, 47, 71, 78, 85, 88, 96]

In [ ]:
print(list(reversed(sorted_list)))

[96, 88, 85, 78, 71, 47, 41, 36, 34, 25, 25, 10]

In [ ]:
#sonuna 'ed' eklediğin zaman değişim olmadan sadece değer döndürür. /sorted() /reversed()

In [ ]:
#index numarasına göre gösterime girdik.

cities = ['İstanbul', 'Tunceli', 'Adıyaman', 'Malatya', 'Ankara', 'İzmir', 'Adana']

for index, value in enumerate(cities):
    print(f'{index} = {value}')

0 = İstanbul
1 = Tunceli
2 = Adıyaman
3 = Malatya
4 = Ankara
5 = İzmir
6 = Adana

In [ ]:
# set : Bir küme içerisinde benzersiz öğeleri tutmak için kullanılır.

my_set = {1, 2, 3}

print(my_set)
print(type(my_set))

{1, 2, 3}
<class 'set'>

In [ ]:
empty_set = set()
print(type(empty_set))

<class 'set'>

In [ ]:
new = {}

print(type(new))

<class 'dict'>

In [ ]:
my_set.add(3)

print(my_set)

{1, 2, 3}

In [ ]:
#set ögeleri tekilleştirir.

a = {1, 1, 2, 2, 3, 3, 3, 4, 4, 4}

print(a)

{1, 2, 3, 4}

In [ ]:
#set ve liste arasında çevrim yapabilirim.

my_list = [1, 1, 2, 2, 3, 3, 3, 4, 4, 4]
set1 = set(my_list)

print(set1)
print(my_list)

{1, 2, 3, 4}
[1, 1, 2, 2, 3, 3, 3, 4, 4, 4]

In [ ]:
set1.remove(3)

print(set1)

{1, 2, 4}

In [ ]:
set1.remove(3)

print(set1)

KeyError: 3

In [ ]:
#discard(eleman): ilgili elemanı siler. eğer eleman yoksa hata vermez.

set1.discard(3)
print(set1)

{1, 2, 4}

In [ ]:
#union(eleman): kümeleri birleştirir.

a = {1, 2, 3}
b = {3, 4, 5}

print(f'iki kümenin birleşimi : {a.union(b)}')

iki kümenin birleşimi : {1, 2, 3, 4, 5}

In [ ]:
#intersection(): kesişim kümesini hesaplar.

print(f"iki kümenin ortak elemanlarının(kesişim kümesi) :{a.intersection(b)}")

iki kümenin ortak elemanlarının(kesişim kümesi) :{3}

In [ ]:
#difference(): kümelerin birbirinden farkını gösterir. ;

print(f"a kümesinde olup a kümesinde olmayan (a/b) :{a.difference(b)}")
print(f"b kümesinde olup b kümesinde olmayan (b/a) :{b.difference(a)}")

a kümesinde olup a kümesinde olmayan (a/b) :{1, 2}
b kümesinde olup b kümesinde olmayan (b/a) :{4, 5}

In [ ]:
#symmetric_difference(): a ve b kümesinde ortak olarak bulunmayan ögeleri verir.

print(f'a ve b kümelerinde ortak olarak bulunmayan elemanlar : {a.symmetric_difference(b)}')

a ve b kümelerinde ortak olarak bulunmayan elemanlar : {1, 2, 4, 5}

In [ ]:
#tuple: sıralı ve değiştirilemeyen veri tipidir.

renkler = ("kırmızı","sarı","lacivert","yeşil")
rekler.append("mavi")   #ekleme yapılamaz.

NameError: name 'rekler' is not defined

In [ ]:
print(renkler)
print(type(renkler))

('kırmızı', 'sarı', 'lacivert', 'yeşil')
<class 'tuple'>

In [ ]:
ad,soyad,ders = ("Ahmet Burak","ŞİŞCİ","matematik")

print(ad)
print(soyad)
print(ders)

Ahmet Burak
ŞİŞCİ
matematik

In [ ]:
gs, bjk , ıs = (["sarı","kırmızı"],["siyah","beyaz"],["mavi","pembe"])

print(gs)
print(bjk)
print(ıs)

['sarı', 'kırmızı']
['siyah', 'beyaz']
['mavi', 'pembe']

In [ ]:
# dict(sözlük) : anahtar - değer çiftlerini taşıyan bir veri tipidir.

manav = {'Kiraz': 25, 'Vişne': 55, 'Kivi': 250}

print(manav)

{'Kiraz': 25, 'Vişne': 55, 'Kivi': 250}

In [ ]:
#Kirazını değerini yazdıracağım.
print(manav.get("Kiraz"))

25

In [ ]:
print(manav.get("Kayısı"))

None

In [ ]:
print(manav.get("Kayısı","elimde kalmadı."))    #istediğim değerin olmaması durumunda vereceği çıktıyı ayarlıyorum.

elimde kalmadı.

In [ ]:
meyve_isimleri = manav.keys()    #fiyatları depolayabilirim.

print(meyve_isimleri)

dict_keys(['Kiraz', 'Vişne', 'Kivi'])

In [ ]:
meyve_fiyatları = list(manav.values())    #listeye çevirerek fiyatları depolayabilirim.

print(meyve_fiyatları)

[25, 55, 250]

In [ ]:
print(f'Manavda bulunan Meyve sayısı : {len(meyve_isimleri)}')
print(f'Manavda bulunan Meyvelerin birim fiyat toplamı : {sum(meyve_fiyatları)}')

Manavda bulunan Meyve sayısı : 3
Manavda bulunan Meyvelerin birim fiyat toplamı : 330

In [ ]:
for meyve_adi,meyve_fiyati in manav.items():
  print(f"{meyve_adi} : {meyve_fiyatları}")

Kiraz : [25, 55, 250]
Vişne : [25, 55, 250]
Kivi : [25, 55, 250]

In [ ]:
manav.update({'Kayısı': 300, 'Portakal': 45})

print(manav)

{'Kiraz': 25, 'Vişne': 55, 'Kivi': 250, 'Kayısı': 300, 'Portakal': 45}

In [ ]:
manav.update({"Kiraz":45})

print(manav.get("Kiraz"))
print(manav)

45
{'Kiraz': 45, 'Vişne': 55, 'Kivi': 250, 'Kayısı': 300, 'Portakal': 45, 'kiraz': 45}

In [ ]:
silinen_meyve_fiyati = manav.pop("Portakal")

print("Silinen meyvenin fiyatı: ", silinen_meyve_fiyati)
print(manav)

Silinen meyvenin fiyatı:  45
{'Kiraz': 45, 'Kivi': 250, 'Kayısı': 300, 'kiraz': 45}

In [ ]:
bakkal = {'un': 1, 'Şeker': 2, 'Yağ': 3}

if 'un' in bakkal and 'Şeker' in bakkal and 'Yağ' in bakkal:
    print('Ne duruyorsun helva yapsana')

Ne duruyorsun helva yapsana

In [ ]:
# 1 den 10 a kadar tüm sayıları listeye ekleyen ve bu listeyi ekran çıktısı olarak veren kodu yazınız.

X = []

for i in range(1, 11):
  X.append(i)

print(X)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. yöntem

numbers = [i for i in range(1,11)]

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#1 den 50 ye kadar tüm çift sayıları ayrı listede tutan ve bu listeyi ekran çıktısı olarak gösteren kodu yaz.

Y = []
even_numbers = []
for i in range(1, 51):
  Y.append(i)

for num in Y:
  if num %2 == 0:
    even_numbers.append(num)

print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
even_numbers_lst = [i for i in range(1, 51) if i % 2 == 0]    #list comprehension yöntemiyle çözüm

print(even_numbers_lst)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
#1 den 10 a kadar tüm sayıların küpünü bir liste içerisinde tutan ve ekran çıktısı olarak veren kodu yazınız.

kup = list()

for i in range(1,11):
  kup.append(i**3)

print(kup)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
kup_list = [i**3 for i in range(1, 11)]   #list comprehension yöntemiyle çözüm

print(kup_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#bir metin içindeki tüm harfleri ayrı liste içinde tutan kodu yazınız.

Text = 'Gözyasını Sildiğin mendilin olayım.'
harfler_lst = list()

#geleneksel yöntem
for char in Text:
  harfler_lst.append(char)

print(harfler_lst)

['G', 'ö', 'z', 'y', 'a', 's', 'ı', 'n', 'ı', ' ', 'S', 'i', 'l', 'd', 'i', 'ğ', 'i', 'n', ' ', 'm', 'e', 'n', 'd', 'i', 'l', 'i', 'n', ' ', 'o', 'l', 'a', 'y', 'ı', 'm', '.']

In [ ]:
print(list(Text))   #list comprehension yöntemi

['G', 'ö', 'z', 'y', 'a', 's', 'ı', 'n', 'ı', ' ', 'S', 'i', 'l', 'd', 'i', 'ğ', 'i', 'n', ' ', 'm', 'e', 'n', 'd', 'i', 'l', 'i', 'n', ' ', 'o', 'l', 'a', 'y', 'ı', 'm', '.']

In [ ]:
harfler_lst2 = [char for char in Text]

print(harfler_lst2)

['G', 'ö', 'z', 'y', 'a', 's', 'ı', 'n', 'ı', ' ', 'S', 'i', 'l', 'd', 'i', 'ğ', 'i', 'n', ' ', 'm', 'e', 'n', 'd', 'i', 'l', 'i', 'n', ' ', 'o', 'l', 'a', 'y', 'ı', 'm', '.']

In [ ]:
#1 den  25 e kdar tüm sayıları gezen ve bir liste içinde hangi sayının tek mi çift mi olduğunun metnini tutan, metinler gösteren, metinler listesi oluşturun.

# ['Tek: 1', 'Çift: 2', 'Tek: 3']

result =list()
for i in range(1,26):
  if i %2 == 0:
    result.append(f"çift: {i}")
  else:
    result.append(f"tek: {i}")

print(result)

['tek: 1', 'çift: 2', 'tek: 3', 'çift: 4', 'tek: 5', 'çift: 6', 'tek: 7', 'çift: 8', 'tek: 9', 'çift: 10', 'tek: 11', 'çift: 12', 'tek: 13', 'çift: 14', 'tek: 15', 'çift: 16', 'tek: 17', 'çift: 18', 'tek: 19', 'çift: 20', 'tek: 21', 'çift: 22', 'tek: 23', 'çift: 24', 'tek: 25']

In [ ]:
result1 = [f"çift: {i}" if i %2 == 0 else f"tek: {i}" for i in range(1,26)]

print(result1)

['tek: 1', 'çift: 2', 'tek: 3', 'çift: 4', 'tek: 5', 'çift: 6', 'tek: 7', 'çift: 8', 'tek: 9', 'çift: 10', 'tek: 11', 'çift: 12', 'tek: 13', 'çift: 14', 'tek: 15', 'çift: 16', 'tek: 17', 'çift: 18', 'tek: 19', 'çift: 20', 'tek: 21', 'çift: 22', 'tek: 23', 'çift: 24', 'tek: 25']